body {
    margin: 0;
}

.gameContainer {
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    display: block;
    margin: 0 auto;
    position: relative;
}

#score {
    font-size: 5em;
    text-align: center;
    color: white;
}

.submit-container {
    height: 80px;
    display: flex;
}

#submit-group {
    display: none;
    margin: 10px auto;
}

#submit-group input {
    font-size: 30px;
    padding: 0 12px;
    border-radius: 3px;
    margin-right: 12px;
    height: 50px;
    border: none;
    outline: none;
}

#submit-group button {
    font-size: 30px;
    padding: 0 12px;
    height: 50px;
    border-radius: 3px;
    background-color: white;
    border: none;
    cursor: pointer;
}

#submit-group button:hover {
    background-color: lightgrey;
}

#score-submitted-message {
    margin-top: 20px;
    display: none;
    margin: 0 auto;
    color: white;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center
}

#restart-button {
font-size: 5em;
background-color: black;
color: white;
}

.hidden{
    display: none;
}

#restart {
    position: fixed;
    text-align: center;
    z-index: 1;
    width: 100%;
}
#heading {
    color: white;
    font-size: 80px;
}

#home {
    font-size: 42px;
    color: white;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    padding: 40px;
} 

#high-score {
    position: absolute;
    padding: 40px;
    right: 0;
    font-size: 42px;
    color: white;
    font-family: 'Poppins', sans-serif;
}